body {
	color: #000e27;
}

.intro {
	font-size: 3em;
	line-height: 60px;
	font-weight: 300;
	background-color: #e4ebf9;
	padding: 90px 0px 100px 120px;
}

.important-notice {
	margin-left: auto;
	margin-right: auto;
	width: 630px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.important-notice span {
	font-family: Georgia, serif;
	line-height: 60px;
	color: #1c4da1;
	font-size: 2.8em;
	font-weight: lighter;
}

.important-notice p {
	line-height: 32px;
	font-size: 1.25em;
	font-weight: 300;
}