body {
	color: #000e27;
}

.accreditations {
	background-color: #e4ebf9;
	padding: 90px 0px 70px 120px;
}

.accreditations p {
	font-size: 1.25em;
	font-weight: 500;
}

.accreditations span {
	font-size: 3em;
	line-height: 60px;
	font-weight: 100;
}

.main-content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.align-center {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

.main-content p {
	line-height: 32px;
	font-size: 1.25em;
	font-weight: 300;
}

.center {
  	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	color: #ffffff;
	background-color: #1c4da1;
	font-size: 1.125em;
	line-height: 27px;
	text-align: center;
	border: none;
	padding: 17px 22px;
	margin: 90px 30px;
	cursor: pointer;
}

#section-header {
	font-size: 2.5em;
	line-height: 60px;
	font-weight: 300;
	padding-left: 130px;
}

.row-1 {
	padding: 0px 90px;
	display: flex;
	column-gap: 40px;
}

.news-header {
	color: #3f495a;
	line-height: 28px;
}

.news {
	font-family: Georgia, serif;
	line-height: 35px;
	font-size: 1.4375em;
	font-weight: 200;
	color: #1c4da1;
}

.date {
	font-size: 1.125em;
	line-height: 32px;
	font-weight: 300;
}

