#chat-section {
	margin-left: auto;
	margin-right: auto;
	height: 850px; /* Initial width = "850px", Change the width to "430px" and overflow="hidden", i kept it to test the height of the bottom cards to ensure they are the same */
	width: 1200px;
	border: 1px solid red;
	overflow: scroll;
}

#chat-section a {
  text-decoration: none;
  display: inline-block;
  padding: 13px 27px;
}

.prev-btn {
	position: absolute;
	top: 1680px;
}

.next-btn {
	margin-left: -20px;
	position: absolute;
	top: 1680px;
}

.prev-and-next:hover { background-color: #1c4da1; }

.prev-and-next {
  background-color: #5C80BD;
  color: white;
  font-size: 32px;
}

.round { border-radius: 50%; }

.chat {
	color: #000e27;
	padding: 0px 40px;
}

.student-1, .student-2, .student-3, .student-4, .student-5, .more-students {
	float: left;
	width: 28%;
	border: 1px solid #e4e8eb;
	border-radius: 5px;
	color: #333333;
	line-height: 24px;
	text-align: center;
	margin: 28px;
	height: 365px;
	padding-top: 10px;
	position: relative;
}

.more-students {
	height: 365px;
	color: #1c4da1;
	padding: 70px 0px;
}

.chat img { border-radius: 50%; }

.overlay {
	background-color: #1c4da1;
	width: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	z-index: -1;
}

.flag { margin-left: -27px; }

.faded {
	color: grey;
	font-weight: lighter;
}

.border-bottom { border-bottom: 1px solid #e4e8eb; }

.chat button {
	font-weight: lighter;
	color: #1c4da1;
	padding: 15px 35px;
	border-radius: 50px;
	border: 1px solid #1c4da1;
	background-color: #ffffff;
	margin: 20px 0px;
}

.chat button:hover {
	background-color: #1c4da1;
	color: #ffffff;
}