.faculty {
	color: #ffffff;
	background-image: url(../images/faculty-sctn-img.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 700px;
	padding-left: 70px;
	display: flex;
	column-gap: 25px;
}

.faculty-info {
	width: 37%;
	align-self: center;
}

.faculty-info h2 {
	line-height: 60px;
	font-size: 2.7em;
	font-weight: lighter;
}

.faculty-info p {
	line-height: 32px;
	font-size: 1.25em;
}

.faculty-info button { margin-top: 25px; }

.faculty-list {
	width: 63%;
	background-color: #0000004A;
	height: 700px;
}